body {
    position: absolute;
    background-color: #a3a3a3;
    background-color: #dfdfdf;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Permanent Marker', cursive;
}

body * {
    width: 1000px;
    margin: auto;
}

h1 {
    display: block;
    padding: 20px;
}
h2 {
    padding: 10px;
}

div {
    display: block;
}

#settings {
    font-weight: bold;
    padding-bottom: 20px;
}
#settings input {
    -webkit-appearance: none;
    width: 200px;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
} 
#settings input:hover {   
    opacity: 1;
}
#settings hr {
    width: 900px;
    border: 1px dashed grey;
    margin-top: 20px;
    margin-bottom: 20px;
} 
#settings input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    background: #04AA6D;
    cursor: pointer;
} 
#settings input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}
#settings span {
    display: inline-block;
    width: 160px;
}


#colors * {
    display: inline-block;
    width: 100px;
    height: 60px;
    margin: 10px;
    border: 2px dashed black;
    border-radius: 10px;
    padding-top: 35px;
}

#many-colors * {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 1px dashed black;
    border-radius: 4px;
}

.brush {
    height: 80px;
    width: auto;
    margin: 20px;
    display: inline-block;
    cursor: pointer;
}

#canvas {
    position: relative;
    border: 4px solid black;
    border-radius: 60px;
    z-index: -10;
}